doctype html
html(lang='en')
  head
    - var site_name = 'Heroes of Might and Knowledge'
    - var site_image = ''
    - var site_description = 'Heroes of Might and Knowledge is a great way boost up your Knowledge'
    - var page_title = 'Heroes of Might and Knowledge'
    - var page_type = 'website'
    - var page_url = 'http://evgeni.koding.io:3000'
    block headext

    meta(charset='utf-8')
    //- Standard meta tags
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Evgeni Ivakhnov, Jasper Tack, Tom Maes')
    //- OpenGraph protocol for meta tagging
    meta(property='og:site_name', content=site_name)
    meta(property='og:image', content=site_image)
    meta(property='og:description', content=site_description)
    meta(property='og:title', content=page_title)
    meta(property='og:type', content=page_type)
    meta(property='og:url', content=page_url)
    //- title
    title #{site_name}
    //- Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    //- Add custom CSS
    link(href='/stylesheets/style.css', rel='stylesheet')

    //- Bootstrap core JavaScript
    script(src='/libs/jquery-2.1.1.min.js')
    script(src='/libs/bootstrap.min.js')

  body
    block content
